/* GERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

h1{
    color: #fff;
    font-family: 'Caviar';
}

h2{
    color: #fff;
    font-family: 'Caviar';
}

h3{
    color: #fff;
    font-family: 'Caviar';
}

p{
    color: #fff;
    font-family: 'poppins';
}


body{
    background-image: linear-gradient(#171717, #330730);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* ESTILO DO HEADER */

header{
    padding: 40px 4%;
    font-family: "Poppins", sans-serif;
    
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-entrar button{
    padding: 10px 50px;
    font-size: 18px;
    font-weight: 600;
    background-color: #A24681;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}

header .btn-entrar button:hover{
    box-shadow: 0px 0px 8px #c4599d;
}

/* FIM ESTILO DO HEADER */

/* MAIN */

main{
    height: auto;
    width: 100%;
}

.txt-topo-site{
    margin-top: 90px;
    color: white;
    font-family: 'Caviar';
    font-size: 50px;
}

.txtRoxo{
    color: #A24681;
}

/* BOTÃO JUNTE-SE */

button{
    margin-top: 15px;
    --primary-color: #A24681;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 40px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-size: 15px;
    cursor: pointer;

  }
  
  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  button:hover {
    background-color: var(--hover-color);
  }
  
  button:hover .arrow {
    background: var(--secondary-color);
  }
  
  button:hover .arrow:before {
    right: 0;
  }

  /* FIM BOTÃO JUNTE-SE */


.topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    float: right;
    border-radius:30px;
    border-color: #A24681;
    border-style: inset;
}

@keyframes flutuar{
    0%{
        bottom: 0;
    }
    100%{
        bottom: 30px;
    }
}

/* SECTION 2 */
section.oferecemos{
    margin-top: 100px;
    padding: 30px 4%;
    background-color: #fff;
}

section.oferecemos .flex{
    gap: 60px;
}


.oferecemos .oferecemos-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #A24681;
    margin-top: 45px;
    cursor: pointer;
    transition: .2s;
}

.oferecemos .oferecemos-box:hover{
    transform: scale(1.01);
    box-shadow: 0 0 20px #330730;
}

.oferecemos .oferecemos-box i{
    font-size: 70px;
    color: #A24681;
}

.oferecemos .oferecemos-box p{
    font-size: 18px;
    color: black;
}

.oferecemos .oferecemos-box h3{
    font-size: 28px;
    margin: 15px 0;

}

h2.titulo2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    color: #111;
}

h2.titulo2 span{
    color: #A24681;
}

.sub2{
    color: #111;
    font-size: 25px;
}


/* FIM SECTION 2 */


/* SECTION 3 */

section .sobre{
    padding: 40px 4%;
}

.sobre .txt-sobre{

}

.sobre .img-sobre{
    margin-top: 20px;
}

/* FIM SECTIOPN 3*/
 


  /* FIM MAIN */
